<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>491152565.38074797</real>
				<key>version</key>
				<dict>
					<key>495e4fc4613b9428471ceacbb08ebf301b49b1d7b3f89b7855adc998f95117c5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>SUMMARY.md</key>
			<dict>
				<key>lastModification</key>
				<real>491152565.38075</real>
				<key>version</key>
				<dict>
					<key>495e4fc4613b9428471ceacbb08ebf301b49b1d7b3f89b7855adc998f95117c5</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>lastModification</key>
				<real>491750974.638282</real>
				<key>version</key>
				<dict>
					<key>495e4fc4613b9428471ceacbb08ebf301b49b1d7b3f89b7855adc998f95117c5</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>论坛.md</key>
			<dict>
				<key>lastModification</key>
				<real>491152593.40980703</real>
				<key>version</key>
				<dict>
					<key>495e4fc4613b9428471ceacbb08ebf301b49b1d7b3f89b7855adc998f95117c5</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>论坛.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
		<array>
			<string>SUMMARY.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>495e4fc4613b9428471ceacbb08ebf301b49b1d7b3f89b7855adc998f95117c5</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
